.container-fluid{
  border: 1px solid blue;
  width: 100%;
}
.container{
  border: 1px solid green;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

}
.half-width{
  border: 1px solid red;
  width: 50%;
}

.hidden{
  display: none;
}